In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('Agricultural/EGAD Historical Data.csv', parse_dates = True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      981 non-null    object
 1   Price     981 non-null    float64
 2   Open      981 non-null    float64
 3   High      981 non-null    float64
 4   Low       981 non-null    float64
 5   Vol.      981 non-null    object
 6   Change %  981 non-null    object
dtypes: float64(4), object(3)
memory usage: 53.8+ KB

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      981 non-null    datetime64[ns]
 1   Price     981 non-null    float64
 2   Open      981 non-null    float64
 3   High      981 non-null    float64
 4   Low       981 non-null    float64
 5   Vol.      981 non-null    object
 6   Change %  981 non-null    object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 53.8+ KB

In [6]:
df.head()

        Date  Price   Open   High    Low   Vol. Change %
0 2012-11-02  34.00  37.75  34.00  34.00  0.10K   -9.93%
1 2012-11-06  31.00  34.00  31.00  31.00  0.10K   -8.82%
2 2012-11-08  28.00  31.00  28.00  28.00  0.20K   -9.68%
3 2012-11-09  26.75  28.00  26.75  26.75  1.40K   -4.46%
4 2012-11-12  26.00  26.75  26.00  26.00  0.20K   -2.80%